<div class="social-btns">
    <a href="https://twitter.com/share" class="twitter-share-button"  data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }} - {{ site.name }}">Tweet</a>
    <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="118" data-show-faces="true"></div>
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加" ><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    <div class="g-plusone" data-size="medium"></div>
    <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
  <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/jquery.socialthings.min.js"></script>
<style>
.social-btns{
    margin-bottom: 10px;
}
.social-btns iframe,
.social-btns > div
{
    vertical-align: bottom !important;
}
.social-btns > div:last-of-type iframe{
    height: 20px;
}
</style>
<script>

$(function(){
    $.socialthings.twitter.applyWidgets();
    $.socialthings.facebook.loadJS();
    $.socialthings.gplus.options.lang = 'ja';
    $.socialthings.gplus.applyWidgets();
    $.socialthings.hatebu.applyWidgets();
});

</script>