<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
<!-- OGPtoka -->

    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 50}}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    {% if page.url %}
      <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:image" content="{{ site.url }}/img/tech.png" />
    {% if page.date %}
      <meta property="article:published_time" content="{{page.date | date: "%Y-%m-%d" }}" />
    {% endif %}

<!-- OGPtoka -->

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
  </head>
  <body>
    <section class="global-wrapper">
      <header class="global-header">
        <div class="global-header__logo">
          <h1><a href="/"><img src="/img/logo.png" alt="じまぐてっく"></a></h1>
        </div>
        <nav class="global-nav">
          <a href="/">HOME</a><span> | </span>
          <a href="/about.html">ABOUT</a>
        </nav>
        <div class="global-header__follow">
          <div class="global-header__icons">
            <span class="follow-icon">
              <a href="https://twitter.com/nakajmg" target="_blank"><i class="icon-twitter"></i></a>
            </span>
            <span class="follow-icon">
              <a href="https://github.com/nakajmg" target="_blank"><i class="icon-github-alt"></i></a>
            </span>
            <span class="follow-icon">
              <a href="http://qiita.com/nakajmg" target="_blank" class="icon__qiita"></a>
            </span>
          </div>
          <span>@nakajmg</span>
        </div>
      </header>

      <div  class="content-wrapper">
        {{ content }}
      </div>

      <footer class="global-footer">
        <nav class="global-footer__nav">
          <a href="/">HOME</a> <a>･</a>
          <a href="/about.html">ABOUT</a>
        </nav>
        <div class="global-footer__content">
          <i class="icon__author"></i>
          <h3 class="global-footer__title">@nakajmg</h3>
          <div class="global-footer__author">
            <p>Front-end Engineer. 11px
          </div>

          <div class="global-footer__icons">
            <span class="icons icons--twitter">
              <a href="https://twitter.com/nakajmg" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            </span>
            <span class="icons icons--github">
              <a href="https://github.com/nakajmg" target="_blank" title="GitHub"><i class="icon-github-alt"></i></a>
            </span>
            <span class="icons icons--qiita">
              <a href="http://qiita.com/nakajmg" target="_blank" class="icon__qiita" title="Qiita"></a>
            </span>
          </div>
        </div>
      </footer>
    </section>
    {% include ga.html %}
  </body>
</html>
