<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
    </head>
    <body>
        <main class="global-wrapper">
          <header class="global-header">
            <h1 class="global-header__title"><a href="/">{{ site.name }}</a></h1>
          </header>
            <div  class="content-wrapper">
              {{ content }}
            </div>
          <footer class="global-footer">
            <div class="global-footer__content">
              <h3 class="global-footer__title">Author</h3>
              <i class="icon__author"></i>
              <p class="global-footer__author">
                中島直博（なかじまなおひろ）/ nakajmg（じまぐ）<br />
                フロントエントエンジニア。スマホ向けブラウザゲーム作ってます。<br />
                埼玉出身の豊島ボーイ。
              </p>
            </div>
            <div class="global-footer__contact">
              <p>
                <i class="icon-twitter"></i><a href="https://twitter.com/nakajmg">nakajmg@Twitter</a>
                <i class="icon-github-alt"></i><a href="https://github.com/nakajmg">nakajmg@Github</a>
                <i class="icon-html5"></i><a href="http://qiita.com/nakajmg">nakajmg@Qiita</a>
<!--                 <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br /> -->
              </p>
            </div>
          </footer>
        </main>

    </body>
</html>
